# ---- Database (Neon) ----
DATABASE_URL=postgresql://neondb_owner:npg_9vXWJn3dNoys@ep-nameless-butterfly-aydgt2ih-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require

# ---- Auth ----
NEXTAUTH_SECRET=+RbPcsN/qutynwd+LCZhl9jx+gAwAGrya8iv5SL5yEc=
NEXTAUTH_URL=https://nyumba-kasarani.vercel.app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ---- Images (Cloudinary) ----
CLOUDINARY_CLOUD_NAME=hyrbsrlv
CLOUDINARY_API_KEY=756274521934744
CLOUDINARY_API_SECRET=VHUowSx8Ry4Qep3oc7lJxHFWKck

# ---- Payments (M-Pesa Daraja) ----
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_CALLBACK_URL=http://localhost:3000/api/mpesa/callback
